@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');

body{
	font-family: 'Work Sans';
	font-size: 16px;
	color: #000000; /*black*/
}

h1, h2, h3, h4{
	font-family: 'Raleway';
}

h1{
	font-size:32px;
	color: #223242;
}

h2{
	font-size: 26px;
	color: #223242;
}

h3{
	font-size: 23px;
	color: #223242;

}

h4{
	font-size: 18px;
	text-transform: uppercase;
	color:  #AAC116; /*green*/
}


/*navigatie menu, krijgt als enige link zwarte kleur.*/
nav>ul>li>a{
	color:#000000; /*black*/
	font-family: 'Raleway';
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

.bannertitel{
	font-size: 45px;
}

/*Dit is de opmaak voor links*/
a{
	font-family: 'Work Sans';
	color: #00CCFF;
	text-decoration: none;
}

a:hover{
	color: #AAC116; /*Green*/
	text-decoration: underline;
}

a:active{
	font-family: 'Work Sans';
	color: #00CCFF;
	font-weight: bold;
}

.actualiteit>h3{
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	clear: both;
}

/*Dit is de standaard button opmaak*/
button{
	text-transform: uppercase;
	background-color: #AAC116; /* Green */
	color:#ffffff;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	font-family: 'Work Sans';
	
}
.evenementen>h4{
	color: #AAC116;
}

